* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --primary-color: #00adb5;
  --secondary-color: #303841;
  --danger-color: #ff5722;
  --light-color: #eeeeee;
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.danger-bg {
  background-color: var(--danger-color);
}

.light-bg {
  background-color: var(--light-color);
}

.white-bg {
  background-color: white;
}

.transparent-bg {
  background-color: transparent;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-danger {
  color: var(--danger-color);
}

.color-light {
  color: var(--light-color);
}

.color-white {
  color: white;
}

.color-dark {
  color: black;
}
